<a href="https://colab.research.google.com/github/Rutujanikam18/Python/blob/main/Assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
A=["Rutuja Nikam","Age=20"]
B=["SP College","Class=TYBSc"]
print(A)
print(B)
print(A[0:1])

['Rutuja Nikam', 'Age=20']
['SP College', 'Class=TYBSc']
['Rutuja Nikam']

In [ ]:
a=("Rutuja Nikam"),("Age=20")
b=("College=SP College"),("Class=TYBSc")
print(a,b)

('Rutuja Nikam', 'Age=20') ('College=SP College', 'Class=TYBSc')

In [ ]:
a=["A","B","C"]
print(type(a))
print(a)
b=("A","B","C")
print(type(b))
print(b)
a[0]="Z"
print(a)

<class 'list'>
['A', 'B', 'C']
<class 'tuple'>
('A', 'B', 'C')
['Z', 'B', 'C']

In [ ]:
print(A)
A1=A.copy()
print(A1)
##Tuples cannot be copied

['Rutuja Nikam', 'Age=20']
['Rutuja Nikam', 'Age=20']

In [ ]:
print(B)
B.append("Autonomous")
print(B)
##tuples cannot be modified

['SP College', 'Class=TYBSc']
['SP College', 'Class=TYBSc', 'Autonomous']

In [19]:
print(A.count("Rutuja Nikam"))
A.append("Rutuja Nikam")
print(A.count("Rutuja Nikam"))

3
4

In [ ]:
print(A)
print(B)
A.extend(B) 
print(A)

['Rutuja Nikam', 'Age=20', 'Rutuja Nikam']
['SP College', 'Class=TYBSc', 'Autonomous']
['Rutuja Nikam', 'Age=20', 'Rutuja Nikam', 'SP College', 'Class=TYBSc', 'Autonomous']

In [ ]:
S=["R","A","J","N"]
print(S)
S1=[1,7,8,3]
print(S1)
S.sort()
S1.sort()
print(S)
print(S1)

['R', 'A', 'J', 'N']
[1, 7, 8, 3]
['A', 'J', 'N', 'R']
[1, 3, 7, 8]

In [ ]:
print(S[:3])

['A', 'J', 'N']