<a href="https://colab.research.google.com/github/Rutujanikam18/Python/blob/main/Assignment_2_Rutuja__Nikam_9180.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def rev(Inp):
 ReverseInp=Inp[::-1] 
 print ("The ReverseString is",ReverseInp)
Stri=input("Enter the String to be Reversed ") 
rev(Stri)

Enter the String to be Reversed python
The ReverseStringis nohtyp

In [ ]:
##without using function
A = (14, 45, 28, 22)
print('The smallest number from listA is:',min(A))
print('The largest number from listA is:',max(A))
##By using function
def min_max(A,B,C,D):
 print("The Maxmimum value from the input values is: ", max(A,B,C,D))
 print("The Minimum value from the input values is: ", min(A,B,C,D)) 
a, b, c, d = input("Enter four values to find minimum and maximum value separated by space: ").split()
min_max(a,b,c,d)

The smallest number from listA is: 14
The largest number from listA is: 45
Enter four values to find minimum and maximum value separated by space: 2 5 8 1
The Maxmimum value from the input values is:  8
The Minimum value from the input values is:  1

In [ ]:
def Sum4(P,Q,R,S):
  sum =P+Q+R+S
  print("The sum of input values is: ", sum)
a, b, c, d= list(map(float, input("Enter four values to find sum of them seperated by space: ").split()))
Sum4 (a,b,c,d)

Enter four values to find sum sum of them seperated by space: 10 2 4 6
The sum of input values is:  22.0

In [ ]:
print("The Number of Local Variables in the given User Defined Function is: " ,Sum4.__code__.co_nlocals)

The Number of Local Variables in the given User Defined Function is:  5

In [ ]:
list1 = list(map(float, input("Enter a list of 8 elements separated by space: ").split()))
L = len(list1)

if (L==8):
    print("The Even Numbers are : ")
    for num in list1:
          
                  if (num % 2 == 0):
                              print(num, end=" ")
else: 
                                  print("There are less than 8 elements in the list")

Enter a list of 8 elements separated by space: 15 34 56 43 22 44 57 80
The Even Numbers are :
34.0 56.0 22.0 44.0 80.0